extends layout

block content
  div(class="container")

    if user
      h1(class="h1") Nice to see you #{user.nickname} today!
    else   
      h1(class="h1") To see more you have to logged in.
    //- p Welcome to #{title}
    div.messages.b-radius-1
      div(class="message")
        h3(class="message__title") Title message #1
        p(class="message__text") Example text of this message ksdlg ksdlg ksdglk sldgk lsdkglgd 
      div(class="message")
        h3(class="message__title") Title message #1
        p(class="message__text") Example text of this message ksdlg ksdlg ksdglk sldgk lsdkglgd 
      div(class="message")
        h3(class="message__title") Title message #1
        p(class="message__text") Example text of this message ksdlg ksdlg ksdglk sldgk lsdkglgd 