extends layout 

block content 
  div(class="container")    
    h1(class="h1") Login To Members Club

    form.form.b-radius-1(method="POST")
      div.form-group
        label.form-label(for="nickname") Nick Name
        input#fullname.form-control(type="text", name="nickname", value=(undefined===user ? "" : user.nickname))
      div.form-group
        label.form-label(for="password") Password
        input#fullname.form-control(type="password", name="password", value="")
      div.form-group
        button.nav-link.form-button(type="submit") Log in