extends layout 

block content 
  div(class="container")    
    h1(class="h1") Sign Up New User

    if errors 
      ul.error-list  
        for error in errors  
          li.error-item!= error.msg 

    form.form.b-radius-1(method="POST")
      div.form-group
        label.form-label(for="fullname") Full Name
        input#fullname.form-control(type="text", name="fullname", value=(undefined===user ? "" : user.fullname))
      div.form-group
        label.form-label(for="nickname") Nick Name
        input#fullname.form-control(type="text", name="nickname", value=(undefined===user ? "" : user.nickname))
      div.form-group
        label.form-label(for="password") Password
        input#fullname.form-control(type="password", name="password", value="")
      div.form-group
        button.nav-link.form-button(type="submit") sign up