* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00b7ff;
}

input {
  font-size: 1.1rem;
  font-family: inherit;
  padding: 0.5rem;

  border-radius: 0.25rem;
  border: none;
}

.nav {
  padding: 1rem 5rem;
}

.nav-content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-link {
  display: inline-block;
  padding: 0.66rem 1.5rem;

  border: 2px solid #00b7ff;
  border-radius: 1rem;

  font-weight: 600;
  text-transform: uppercase;
}

#sign {
  background-color: #00b7ff;
  color: #fff;
}

.container {
  padding: 5rem;
}

.h1 {
  font-size: 3rem;
  max-width: 40rem;
  text-align: center;

  width: 100%;
  margin: 0 auto 5rem auto;
}

.messages {
  display: block;
  max-width: 40rem;
  width: 100%;
  margin: auto;
}

.message {
  background-color: #d8d8d8;
  background-image: linear-gradient(to left, #e4e4e4, #eee);
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 2rem 0rem;
}

.message:last-child {
  margin-bottom: 0;
}

.message__title {
  font-size: 1.5rem;

  margin-bottom: 3rem;
  padding: 0 2rem;
}

.message__text {
  /* font-weight: 600; */
  padding: 0 4rem;
}

.form {
  background-image: linear-gradient(to right bottom, #e9e9e9, #ededed);
  border-radius: 1rem;

  margin: auto;
  max-width: 37.5rem;
  padding: 1.5rem 3.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 0.5rem;

  margin-bottom: 2rem;
}

.form-group:last-child {
  margin-bottom: 0rem;
}

.form-control {
  width: 100%;
  background-color: #fcfcfc;
}

.form-label {
  font-size: 1.25rem;
}

.form-button {
  background-color: #00b7ff;
  color: #fff;
  cursor: pointer;
}

.b-radius-1 {
  border-radius: 1rem;
}
